<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assets/css/main.css"/> -->
    <title>Cart</title>
</head>
<body>
    <div class="container">
        <h1>Корзина</h1>
        <form action="/products" method="GET" >
            <button type="submit">Вернуться в продукты</button>
        </form>

        <div class="articles">
            {{ range .cart}}
            <div class="article article--theme-dark">
                <img class="article__image" src={{.Picture}} >
                <h2 class="article__title">{{.Name}}</h2>
                <div class="article__content">
                    <p>{{.Price}}</p>
                </div>
                <form class="form" action="/remove-cart" method="POST">
                    <input  value={{.ID}} name="product"  type="hidden"/>
                    <input  value={{.Quantity}} name="quantity" readonly />
                    <button type="submit">Удалить товар из корзины</button>
                </form>
            </div>
            {{ end }}
        </div>
    </div>
</body>
</html>